header {
  margin: 0 auto;
  background-color: #424242;
  height: 140px;
  width: 100%;
  /*Allow the header to be fixed*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

footer {
  padding: 20px;
  background-color: #424242;
  color: white;
  clear: both;
}



article {
  /*We add a margin to the top to allow the header to be fixed without hiding any information*/
  margin-top: 160.719px;
}

input.field{
  padding: 10px;
  border: none;
  border-bottom: solid 2px #000e78;
  transition: border 0.3s;
}

#rcorners {
  border-radius: 60px;
  border: 2px solid #000e78;
  padding: 20px;
  width: auto;
  height: auto;
  background: #ffffff;
}


h1 {
  font-family: "Roboto", Helvetica, serif;
  color: white;
  text-align: right;
  margin-right: 3%;
  margin-top: 0;
  padding-top: 20px;
}

div.bcontent {
  color: #000e78;
}

p.clear {
  clear: both;
}

div.block {
  /*PERSONAL INFORMATION*/
  float: left;
  font-family: "Roboto";
  color: #000e78;
  font-size: 250%;
  margin-left: 3%;
  margin-top: 3%;
}

div.block1 {
  /*DATA PERSONAL INFO*/
  font-family: "Roboto";
  color: #000e78;
  margin-left: 5%;
  margin-top: 3%;
  padding-top: 100px;
  float: left;
}

div.block2 {
  /*BILLING INFO*/
  clear: both;
  float: left;
  font-family: "Roboto";
  color: #000e78;
  font-size: 250%;
  margin-left: 3%;
  margin-top: 3%;
  padding-top: 10px;
}

div.block3 {
  /*DATA BILLING INFO*/
  font-family: "Roboto";
  color: #000e78;
  margin-left: 7%;
  margin-top: 3%;
  padding-top: 100px;
  float: left;
}

div.block4 {
  font-family: "Roboto";
  color: #000e78;
  margin-left: 150px;
  margin-top: 150px;
  float: left;
}

ul.menu {
  list-style-type: none;
  padding: 0;
  font-family: "Roboto";
  color: #000e78;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  float: right;
  text-align: right;
}

a.men {
  display: block;
  padding: 1px 75px;
  border: 2px solid #CFD8DC;
}

a.social {
  padding: 20px;
  border-left: solid white;
}

a {
  /*To avoid a line of the URL*/
  text-decoration: none;
}

a:link,
a:visited {
  /*To avoid the icons changing colour when clicked*/
  color: #CFD8DC;
}


/*Allows to use the ul in a horizontal way*/

.menu li {
  display: inline-block;
}


/*Makes the input box smaller*/

.creditcode {
  width: 25px;
}


/*Makes the input box bigger*/

.address {
  width: 129px;
}

img.logo {
  display: inline-block;
  float: left;
  width: 500px;
  height: 160.719px;
}

img.photo {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
}

a.twitter {
  padding: 20px;
  border-left: solid white;
  border-right: solid white;
}

input.button{
  color: 2px #000e78;
  background-color: #CFD8DC;
  border: none;
}

select{
  border: none;
  border-bottom: solid 2px #000e78;
  width: 200px;
}

p.hole{
  margin-top: 1%;
}
