body {
  background: linear-gradient(to right, powderblue, rgb(100, 149, 237));
}

header {
  background-color: #ffffff;
  height: 160.719px;
}

p.arial {
  font-family: "Arial", Arial, arial;
  color: #000e78;
}

h1 {
  font-family: "Contantia Regular", Helvetica, serif;
  color: #000e78;
  text-align: right;
  margin-right: 3%;
}

div.bcontent {
  color: #000e78;
}

p.clear {
  clear: both;
}

div.block{
  float: left;
  font-family: "Arial", Arial, arial;
  color: #000e78;
  font-size: 250%;
  margin-left: 3%;
  margin-top: 3%;
  padding-top: 10px;
}

div.block1 {
  font-family: "Arial", Arial, arial;
  color: #000e78;
  margin-left: 10%;
  margin-top: 3%;
  padding-top: 10px;
  float: left;
}

div.block2 {
  clear: both;
  float: left;
  font-family: "Arial", Arial, arial;
  color: #000e78;
  font-size: 250%;
  margin-left: 3%;
  margin-top: 3%;
  padding-top: 10px;
}

ul.menu {
  list-style-type: none;
  padding: 0;
  font-family: "Arial", Arial, arial;
  color: #000e78;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  float: right;
  text-align: right;
}

a.men {
  display: block;
  padding: 1px 75px;
  border: 2px solid #000e78;
}

.menu li {
  display: inline-block;
}

img.logo {
  display: inline-block;
  float: left;
  width: 500px;
  height: 160.719px;
}

footer {
    display: block;
}
