body {
    background-image: url(hex-abstract-material-design-ad.jpg);
    margin: 0 auto;
}

header {
    margin: 0 auto;
    background-color: #424242;
    height: 140px;
    width: 100%;
    /*Allow the header to be fixed*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    padding: 20px;
    background-color: #424242;
    color: white;
    clear: both;
}

article {
    /*We add a margin to the top to allow the header to be fixed without hiding any information*/
    margin-top: 160.719px;
}

#rcorners {
    border-radius: 60px;
    border: 2px solid #000e78;
    padding: 20px; 
    width: auto;
    height: auto;
	background: #ffffff;    
}

#rcorners1 {
    border-radius: 60px;
    border: 2px solid #000e78;
    padding: 20px;
    width: auto;
    height: auto;
    background: #ffffff;
}

#rcorners2 {
    border-radius: 60px;
    border: 2px solid #000e78;
    padding: 20px;
    width: auto;
    height: auto;
    background: #ffffff;
}

#rcorners3 {
    border-radius: 60px;
    border: 2px solid #000e78;
    padding: 20px;
    width: auto;
    height: auto;
    background: #ffffff;
}

div.head{
float:right;
margin-right: 7%;
}

p.roboto {
    font-family: "Roboto";
    color: #000e78;
}

h1 {
    font-family: "Roboto";
    color: white;
	font-weight: 300;
    text-align: left;
    margin-right: 5%;
    margin-top: 0;
    padding-top: 20px;
	margin-bottom: 0.5%;
}

div.bcontent {
    color: #000e78;
}

p.clear {
    clear: both;
}


/*Makes the input box smaller*/

.creditcode {
    width: 25px;
}

div.oneblock{
margin-top: -2%;
}

div.description {
    float: left;
    color: #000e78;
    font-family: "Roboto";
    width: 20%;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5%;
    margin-right: 5%;
	margin-top: 5%;
    line-height: 250%;
    clear: both;
	max-width:20%;
}

div.title {
    font-family: "Roboto";
    color: #000e78;
    font-size: 300%;
    float: left;
	margin-top: -6%;
    line-height: 200%;
    width: 100%;
    text-align: center;
}

div.username {
    color: white;
    float: left;
    font-family: Roboto;
    margin-right: 1%;
    margin-top: 20%;
}

img.profile {
    float: right;
    height: 100px;
    width: 73.0987px;
    margin-right: -15%;
	margin-top: -13%;
    clear: right;
	border-radius: 50%;
}


/*Makes the input box bigger*/

.address {
    width: 129px;
}

img.logo {
    float: left;
    width: 500px;
    height: 160.719px;
}

i.icon {
    font-size: 24px;
    color: #000e78;
    float: right;
    margin-top: -1.5%;
}

i.iconl {
    font-size: 24px;
    color: #000e78;
    float: left;
}

div.adj {
    color: #000e78;
    font-family: "Roboto";
    margin-left: 9%;
    margin-top: -1.5%;
}

div.subpanel {
    margin-left: 10%;
    margin-top: 2%;
}

div.subvideos {
    margin: 2% 2%;
    float: left;
}

iframe.subvideo {
    clear: top;
    border: none;
}

div.subdescription {
    clear: bottom;
    color: #000e78;
    font-family: "Roboto";
    margin-top: 3%;
}

a.social {
    padding: 20px;
    border-left: solid white;
}

a.twitter {
	padding: 20px;
	border-left: solid white;
    border-right: solid white;
}

a {
    /*To avoid a line of the URL*/
    text-decoration: none;
}

a:link,
a:visited {
    /*To avoid the icons changing colour when clicked*/
    color: #CFD8DC;
}

iframe.video {
    margin-top: 5%;
    border: none;
}

iframe.spotify{
    height: 405px;
    width: auto;
    border: none;
    margin-left: 2%;
}